body{
	background-attachment: fixed; /*  Фиксирует фон страницы     */
	margin-left: 60px;
}
@font-face {
	font-family: 'MagistralBlackC';
	src: url('../fonts/Magistralblackc.woff2') format('woff2'),
		 url('../fonts/Magistralblackc.woff') format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Academia';
	src: url('../fonts/ACADEITA.woff2') format('woff2'),
		 url('../fonts/ACADEITA.woff') format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'a_CityNova';
	src: url('../fonts/a_citynova.woff2') format('woff2'),
		 url('../fonts/a_citynova.woff') format('woff');
	font-style: normal;
}
img{
	min-width: 300px;
}
.reklama{
	min-width: 10px;
}
p{
	font-family: 'a_CityNova';
	font-size: 18px
}
h2 {
	font-family: 'a_CityNova';
}
h1 {
	font-family: 'a_CityNova';
	font-size: 30px;
	text-shadow: 4px 4px 1px rgba(150, 150, 150, 1);
}
h3 {
	font-family: 'MagistralBlackC';
	font-size: 40px;
	text-shadow: 4px 4px 1px rgba(150, 150, 150, 1);
}
li {
	font-family: 'a_CityNova';
	font-size: 18px;
}
i {                                /*   Примечение (на сайте)   */
	font-family: 'Academia';
	font-size: 18px;
	color: white;
}
.prim{                             /*        Примечание на сайте      */
	background-color: #22225f;
	width: 95%;
	border: 10px solid #465474;
	border-radius: 20px;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
	padding-left: 10px;
}
a{                         /*      Для ссылок в содержании      */
	color: black;   
	text-decoration: none;
}
.oglavlenie{                                              /*   Содержание   */
	background-color: #c2cbdf;
	width: 30%;
	border: 15px ridge #465474;
	border-radius: 20px;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);     /* Тень  */
	min-width: 300px;
}
.zagl{                                  /* стили в содержании для (Что такое Arduino, Виды плат arduino) */
	font-family: 'a_CityNova';
	font-size: 18px;
	padding-left: 20px;
	padding-top: 5px;
}
.pod_zagl{
	font-family: 'a_CityNova';
	font-size: 18px;
	padding-left: 40px;
	padding-top: 5px;
}
.ogl{                                 /*         Для слова (Содержание)         */
	font-family: 'a_CityNova';
	font-size: 20px;
	padding-left: 10px;
	padding-top: 5px;
}
.ssilka{                    /*       Для всех ссылок в тексте        */
	color: blue;
}
.ssilka:hover{
	color: #0b0545
}
.bottom{                                     /*     Нижняя панель там где ссылки соцсети, Andrey 2020©     */
	width: 95%;
	height: 240px;
	background-color: #22225f;
	border: 15px solid #465474;
	border-radius: 20px;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
	margin-top: 50px;
}
.pusto{                              /*        самый нижний отступ от bottom        */
	height: 50px;
}
a:hover{                          /*      Когда наводиш курсор на слово в оглавлении оно меняет цвет      */
	color: Teal;
}
.Soc{                           /*      Место для кнопки соцсети      */
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 5px;
  border-radius: 5px;
}
.Facebook{                             /*      Facebook      */
	overflow: hidden;
}
.aaa{                                      /*    изображение .Facebook{    */
	position: relative;
	left: -2.5px;
	top: -3px;
	min-width: 39px;
	min-height: 39px;
}
.aaa:hover{
	position: relative;
	left: -2.5px;
	top: -89px;	
}
.predSoc{                    /*        Отступ для кнопок соцсетей        */
	height: 2px;
}
.YouTube{                                 /*       YouTube       */
	overflow: hidden;
}
.bbb{                                          /*        изображение YouTube        */
	position: relative;
	left: -88.5px;
	top: -88px;
	min-width: 39px;
	min-height: 39px;
}
.bbb:hover{
	position: relative;
	left: -2.5px;
	top: -45px;
}
.Instagram{                                   /*            Instagram             */
	overflow: hidden;
}
.ccc{                                           /*            изображение Instagram            */
	position: relative;
	left: -45.35px;
	top: -3px;
	min-width: 39px;
	min-height: 39px;
}
.ccc:hover{
	position: relative;
	left: -45.35px;
	top: -46px;
}
.Pin{                                          /*                 Pinterest                 */
	overflow: hidden;
}
.ddd{                                             /*          изображение Pinterest          */
	position: relative;
	left: -45.5px;
	top: -88px;
	min-width: 39px;
	min-height: 39px;
}
.ddd:hover{
	position: relative;
	left: -88.5px;
	top: -45px;
}
.Andrey_2019{                              /*       Andrey 2020©       */
	color: white;
	padding-top: 5px;
	font-size: 20px;
}
.soc_fyip{
	padding-top: 20px;
}
.Sod_bot_1{
	color: #cdd2ff;
	margin-left: 10px;
	margin-right: 10px;
}
.Sod_bot_2{
	color: #cdd2ff;
	margin-left: 10px;
	margin-right: 10px;
}
.Sod_bot_3{
	color: #cdd2ff;
	margin-left: 10px;
	margin-right: 10px;

}
.Soc_bottom{
	font-size: 18px;
	width: 60%;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}
.ssilka_soc{
	float: top;

}

.text{
	margin-left: 39%;
	height: 0px;
	margin-top: -20px;
	padding-left: 20px;
}
li{
	font-size: 18px;
}
#top{
	margin-top: 0px;
	height: 15px;
}
li:hover{
	background-color: #7ab0b8;

}
.ne_li:hover{
	background: none;
}
.aaaaa, .aaaaaa{
	float: left;
	color: white;
}
.aaaaa:hover{
	transform: translate(100px, 20px,);
}
.ssilka_soc {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.effect-2 {
  padding: 30px 0;
}

.effect-2 .ssilka_soc {
  padding: 0 20px;
  height: 45px;
  color: #ffffff;
  font-weight: 300;
  line-height: 45px;
}

.effect-2 .ssilka_soc::before,
.effect-2 .ssilka_soc::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
}

.effect-2 .ssilka_soc::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.effect-2 .ssilka_soc::after {
  right: 0;
  bottom: 0;
  transform: rotate(270deg) translateX(50%) translateY(25px);
}
.effect-2 .ssilka_soc:hover::before,
.effect-2 .ssilka_soc:hover::after {
  opacity: 1;
}

.effect-2 .ssilka_soc:hover::before {
  left: 50%;
  transform: rotate(0deg) translateX(-50%);
}

.effect-2 .ssilka_soc:hover::after {
  right: 50%;
  transform: rotate(180deg) translateX(-50%);
 }
 .st{                          /*       Стрелка вверх       */
	position: fixed;
	right: 1%;
	top: 85%;
	min-width: 50px;
  	transition: all 0.1s;
  	filter: drop-shadow(-3px 3px 1px black);
}
 .st:active{
  transform: translateY(3px);
  filter: drop-shadow(0 0 0px  black);
 }
 /*-----------Реклама-------------*/
.vertikal_reklama{
	position: absolute;
	margin-left: 1070px;
	top: 260px;
}
.reklama_gorizonalna1{
	margin-left: 25%;
}
 /*-----------Конец рекламы-------------*/

 
 /*------------------------------------------------------------*/
@media (max-width: 950px){
	body{
		margin-left: 0px;
		padding-left: 0px;
	}
  
	img{
		max-width: 300px;
	}
	.mini_img{
		min-width: 200px;
		max-width: 200px;
	}
}
@media (max-width: 900px){
	body{
		margin-left: 0px;
		padding-left: 0px;
	}
	.text{
		display: inline-block;
		width: 150%;
		text-align: left;
		margin-left: auto;
	}
	.aaaa{
	margin: 10px 10px 20px 10px;
	}
	li:hover{
		background-color: #7ab0b8;
		width: 153%;
	}
	.ne_li:hover{
		width: 100%
	}
	.oglavlenie{                                              /*   Содержание   */
		width: 300px;
	}
	.pusto{                              /*        самый нижний отступ от bottom        */
		height: 30px;
	}
	.zagl{                                  /* стили в содержании для (Что такое Arduino, Виды плат arduino) */
	font-family: 'a_CityNova';
	font-size: 18px;
	padding-left: 20px;
	padding-top: 5px;
	}
	.pod_zagl{
	font-family: 'a_CityNova';
	font-size: 18px;
	padding-left: 40px;
	padding-top: 5px;
	}
	.ogl{                                 /*         Для слова (Содержание)         */
	font-family: 'a_CityNova';
	font-size: 20px;
	padding-left: 10px;
	padding-top: 5px;
	}
	img{
		max-width: 300px;
	}
	.mini_img{
		min-width: 200px;
		max-width: 200px;
	}

}
@media (max-width: 865px){
.bottom{                                     /*     Нижняя панель там где ссылки соцсети, Andrey 2020©     */
	width: 95%;
	height: 250px;
	background-color: #22225f;
	border: 15px solid #465474;
	border-radius: 20px;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
	margin-top: 50px;
}
.Soc_bottom{
	font-size: 18px;
	width: 60%;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 100px;

}
.soc_fyip{
	margin-top: -40px;
	padding-top: 0px;
}
}
@media (max-width: 518px){
.bottom{                                     /*     Нижняя панель там где ссылки соцсети, Andrey 2020©     */
	width: 95%;
	height: 250px;
	background-color: #22225f;
	border: 15px solid #465474;
	border-radius: 20px;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
	margin-top: 60px;
}
.Soc_bottom{
	font-size: 18px;
	width: 60%;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 50px;

}
.soc_fyip{
	margin-top: -4px;
	padding-top: 0px;
}

.Sod_bot_1{
	transform: translateX(-75px);
}

.Sod_bot_2{
	transform: translateY(-45px) translateX(70px);
}

.Sod_bot_3{
	transform: translateY(-41px);
}
}